/*- Tags -*/
body {
  background-color: #999;
  font: 13px/14px Helvetica, Arial, sans-serif;
  color: #333;
}

p {
  text-align: center;
  padding: 20px;
}

/*- Classes -*/
.center {
  text-align: center;
}

.tooltips {
  color: red;
}
