/*- Classes -*/
.tooltip {
  position: relative;
  cursor: pointer;
}

.tooltip-text {
  position: absolute;
  width: 250px;
  background-color: rgba(0, 0, 0, .7);
  font-size: 12px;
  font-weight: normal;
  text-align: center;
  text-decoration:none;
  color: #bbb;
  padding: 6px;
  border-radius: 8px;
  z-index: 1;
}

.tooltip-text--right {
  transform: translateY(-25%);
  left: 105%;
}

.tooltip-text--left {
  transform: translateY(-25%);
  right: 105%;
}

.tooltip-text--top {
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.tooltip-text--bottom {
  top: 100%;
  left: 50%;
  transform: translateX(-50%);  
}
